body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.t-sect {
    background-color: #1F2937;
    width: 100%;
    height: 26%;
    
}
.info-2 {
    background-color: #F9FAF8;
    width: 100%;
    height: 26%;
}
.info-3 {
    background-color: #E5E7EB;
    width: 100%;
    height: 24%;
}
.info-4 {
    background-color: #F9FAF8;
    width: 100%;
    height: 16%;
}
.creds {
    background-color: #1F2937;
    width: 100%;
    height: 8%;
}